<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.takescoop.americanwhitewaterandroid"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".AWApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--Google Map-->
        <uses-library android:name="com.google.android.maps"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyApgQvIbIQzqFp8a7185lz-MMUpKR9wKgo"/>

        <!--Crashlytics-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b67e4513fcf72d81b5607976a8613ad0240f3105"
            />
    </application>
</manifest>